{{issue | json}}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" required>
    <!-- <mat-error *ngIf="form.get('title').invalid">Required</mat-error> -->
    <mat-error *ngIf="title.invalid">Title is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Place" formControlName="place" required pattern="PC\d+">
    <!-- <mat-error *ngIf="form.get('title').invalid">Required</mat-error> -->
    <mat-error *ngIf="place.invalid && (place.dirty || place.touched) && place.errors.required">
      Place is required!
    </mat-error>
    <mat-error *ngIf="place.invalid && (place.dirty || place.touched) && place.errors.pattern">
      Place must start with PC...!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="issue.id !== null">
    <mat-select placeholder="Status" formControlName="status" required>
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Mentés</button>
  </div>

  {{form.value | json}}
</form>
